extends layout

block content
    h1= title
    div
        p
            | new link
            input(name='url', placeholder='URL')
            input(name='title', placeholder='Title')
            input(name='submit' type='button', value='Post!')
            input(name='user', placeholder='Username (temp)')

    table
        thead
            tr
                th(class='dataColumn') Title
                th(class='dataColumn') Rank
                th(class='dataColumn') User
                th(class='dataColumn') Date
        tbody(id='linklist')
