extends layout

block content
    script(type="text/x-handlebars-template" id="templateLink").
        <tr id="{{id}}">
            <td>
                <a href="{{url}}">{{title}}</a>
            </td>
            <td>{{rank}}</td>
            <td>{{user}}</td>
            <td>{{date}}</td>
        <tr>

    h1= title
    div
        p
            | new link
            input(name='url', placeholder='URL')
            input(name='title', placeholder='Title')
            input(name='submit' type='button', value='Post!')
            input(name='user', placeholder='Username (temp)')

    table
        thead
            tr
                th(class='dataColumn') Title
                th(class='dataColumn') Rank
                th(class='dataColumn') User
                th(class='dataColumn') Date
        tbody
