extends layout

block content
    script(type="text/x-handlebars-template" id="templateLink").
        <div id="{{id}}">
            <div class="rank">
                <div class="upvote">^</div>
                <div class="score">{{rank}}</div>
                <div class="downvote">v</div>
            </div>
            <div class="content">
                <div class="title">
                    <a href="{{url}}">{{title}}</a>
                </div>
                <div class="info">
                    {{date}} by {{user}}
                </div>
            </div>
        </div>
    h1= title
    div
        p
            | new link
            input(name='url', placeholder='URL')
            input(name='title', placeholder='Title')
            input(name='submit' type='button', value='Post!')
            input(name='user', placeholder='Username (temp)')
    div#content.
      Nothing here.


