doctype html
html
  head
    title= title
    script(src='jquery-2.1.3.min.js')
    script(src='handlebars-v3.0.1.js')
    script(src='app.js')
    link(rel='stylesheet', href='style.css')
  body
    block content
